# Airflow config
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:postgres@postgres/postgres
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://postgres:postgres@postgres/postgres
AIRFLOW__WEBSERVER__BASE_URL=http://localhost:8080
# generate fernet key from here: https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/fernet.html#generating-fernet-key
AIRFLOW__CORE__FERNET_KEY = D_Or741Z0JMc5MvToiau7j7Jxd3G1860-XZ93stsm0E=

# Database config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=reporting_postgres

# External Database config
REDSHIFT_CREDENTIALS_SECRET_NAME=

# S3 config
S3_BUCKET_NAME=
REDSHIFT_IAM_ROLE=
AWS_REGION=us-west-2
